<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529801028759-b22cho0n8qvsaag2vflsv1d7isc9onv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529801028759-b22cho0n8qvsaag2vflsv1d7isc9onv1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529801028759-uengfqtkd18r9vvtnhk9hdpv2r752l9l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsDCYdUfCznPOthK-6OL8mZZQELSImXmg</string>
	<key>GCM_SENDER_ID</key>
	<string>529801028759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.splitIt</string>
	<key>PROJECT_ID</key>
	<string>split-it-rocketseat-c3527</string>
	<key>STORAGE_BUCKET</key>
	<string>split-it-rocketseat-c3527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529801028759:ios:99bec97128458c5987b5d2</string>
</dict>
</plist>